
/* custom css */


/* Override the full-height class */
.full-height {
  min-height: 100vh;
}

/* Override the sidebar class */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Override the main-content class */
.main-content {
  margin-left: 250px; /* This should match the sidebar width */
  padding: 20px; /* Add some padding for better readability */
}

/* Responsive adjustments */
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
    .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link.active {
    color: #2470dc;
  }

/* Additional custom styles to ensure proper layout */
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100%;
  width: 100%;
  font-size: .875rem;  
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*login*/

.gradient-custom {
            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        }